obj/Debug/netcoreapp3.1/Commander.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/Commander.assets.cache
obj/Debug/netcoreapp3.1/Commander.csprojAssemblyReference.cache
